# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode
ariac/log/COLCON_IGNORE
ariac/log/latest
ariac/log/latest_list
test_competitor/log/latest_list
log/COLCON_IGNORE
ariac/log/list_2022-03-27_21-35-58/logger_all.log
log/latest
log/latest_list
log/list_2022-03-27_20-04-00/logger_all.log
log/list_2022-03-27_21-37-43/logger_all.log
log/list_2022-03-28_01-31-40/logger_all.log
log/list_2022-03-28_01-49-02/logger_all.log
log/list_2022-03-31_15-30-41/logger_all.log
nist_gear/log/latest_list
nist_gear/log/latest_list
nist_gear/log/list_2022-03-27_23-04-13/logger_all.log
nist_gear/log/list_2022-03-28_12-13-50/logger_all.log
nist_gear/log/list_2022-03-28_16-50-55/logger_all.log
test_competitor/log/latest_list
test_competitor/log/list_2022-03-29_11-26-45/logger_all.log
